go 1.26.4

use (
	./apps/catalog-service
	./apps/edge-api
	./apps/inventory-service
	./apps/notification-service
	./apps/order-service
	./apps/payment-service
	./common-events
	./common-rpc
	./platform/observability
)
